/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('../assets/login.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.edit-bar{
	background-color: black;
	position: fixed;
	z-index: 1;
	margin: 0;
	inset: 0;
	height: 59px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 11px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}
.portfolio-header{
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	width: 100%;
	gap: 30px;
}
.portfolio-header h2 {
	text-align: center;
	margin: 0;
	grid-column: 2;
}
.portfolio-header p {
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

}
.filter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-width: 585px;
}
.filter-item{
	font-family: 'Syne', sans-serif;
	text-decoration: none;
	color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border: 1px #1D6154 solid;
	border-radius: 60px;
	padding: 9px 0 9px 0;
	width: 100px;
	box-sizing: border-box;
	text-wrap: nowrap;
}
.filter-item:nth-child(3){
	width: 157px;
}
.filter-item:nth-child(4){
	width: 198px;
}
.filter-item.active{
	background-color: #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}

footer{
	width: 100%;
	height: 60px;
	background-color: white;
	padding: 21.5px 0;
	margin-top: auto;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#modal{
	width: 630px;
	background-color: white;
	border-radius: 10px;
	border: none;
	padding: 0;
	position: relative;
}

#modal::backdrop{
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 38px;
	padding: 60px 105px 45px 105px;
}

.modal-close-btn{
	align-self: flex-end;
	cursor: pointer;
	position: absolute;
	top: 32px;
	right: 36px;
}

.modal-back-btn{
	align-self: flex-start;
	cursor: pointer;
	position: absolute;
	top: 27px;
	left: 30px;
}

.modal-content h3{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 26px;
	color: black;
	margin-bottom: 8px;
}

.add-picture-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 30px;
}

.file-input-container{
	position: relative;
	background-color: #e8f1f6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 13px 124px 19px 123px;
	gap: 6px;
	border-radius: 3px;
}

.file-input-container img{
	position: absolute;
	top: 0;
	height: 100%;
	width: 129px;
	object-fit: cover;
	z-index: 2;
}

.file-input-container i{
	color: #B9C5CC;
}

.file-input-container button{
	background-color: #cbd6dc;
	color: #306685;
	font-size: 14px;
	font-family: 'work sans', sans-serif;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	width: 173px;
	border-radius: 50px;
}

.file-input-container span{
	font-family: 'work sans', sans-serif;
	color: #444444;
	font-size: 10px;
	font-weight: 400;
}

.file-input-container input[type="file"]{
	position: absolute;
	z-index: -999;
}

.input-container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	width: 420px;
	color: #3d3d3d;
	font-size: 14px;
	font-weight: 500;
	font-family: 'work sans', sans-serif;
}

.input-container input[type="text"], .input-container select{
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	color: #444444;
	width: 100%;
	height: 51px;
	padding: 17px 29px 17px 16px;
	box-sizing: border-box;
	border: none;
}

.input-container select{
	appearance: none;
}

.form-text-input{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 21px;
}

.add-picture-form .disabled-btn{
	background-color: #a7a7a7;
}

.select-container{
	position: relative;
	width: 100%;
}

.fa-chevron-down{
	position: absolute;
	z-index: 2;
	pointer-events: none;
	color: #6c6c6c;
	top: 20px;
	right: 29px;
}

.modal-content-images{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 29px;
	justify-content: center;
	align-items: center;
}

.modal-content hr{
	width: 420px;
	color: #b3b3b3;
	margin-top: 29px;
	margin-bottom: 0;
}

.modal-content-button{
	height: 36px;
	border-radius: 60px;
	padding: 9px 49px 9px 49px;
	background-color: #1D6154;
	color: white;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

.modal-content-project{
	position: relative;
	
}

.modal-content-project img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal-content-project i{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: white;
	background-color: black;
}